// nav
.nav-list {    
    right: 0;
    .shopping-list-number {
        width: 22px;
        height: 18px;
        font-size: 12px;
        position: absolute;
        top: 0;
        right: 5px;
    }
}

// Modal
.modal.right {
    .modal-dialog {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        transform: translate3d(0%, 0, 0);
    }
    .modal-content {
        height: 100%;
        overflow-y: auto;
    }
    .modal {
        &-content {
          border-radius: 0;
          border: none;
        }
        &-header {
          border-bottom: none;
        }
        &-body{
          .card{
            max-width: 540px;
          }
        }
        &-footer {
          border-top: none;
        }
    }
}
  
  
// footer
// footer-nav
.footer {
    .navbar-brand {
        font-size: $font-size-md;
        @include large(){
            font-size: $font-size-lg
        }
    }
    .copyright {
        font-size: $font-size-base;
    }
}



