// nav
.nav-list {    
    right: 0;
  }
  
// footer
.subscribe {
    background: url("../../assets/images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg") center; /*  圖片水平垂直置中  */
    background-size: cover; /*  背景自適應延伸屬性  */
    height: 400px;
    // &-content {
    //     position: absolute;
    //     bottom: 36px;
    //     width: 100%;
    // }
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 400px;        
    }
    &-form {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
                            
        @include large(){
            width: 350px;
        }
    }
    &-submit {
        width: 60%;
        border: 1px solid $light;
    }
    &-btn {        
        width: 40%;
        border: 1px solid $secondary;
    }
}

.footer {
    .navbar-brand {
        font-size: $font-size-md;
        @include large(){
            font-size: $font-size-lg
        }
    }
    .copyright {
        font-size: $font-size-base;
    }
}



