// RWD 圖片
img {
    max-width: 100%; // 使圖片自適應父元素大小
    height: auto;
    vertical-align: middle; // 去除圖片下方2~3px空白    
}

a {
    display: block;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $line-height-base;
}